/bin
/local
/pkg
/src
/website/.sass-cache
/website/build
/website/tmp
.DS_Store
.dumb-vagrant
.idea
test/.env
*~
*.received.*
*.swp

vendor/

website/.bundle
website/vendor

dumb-packer-test*.log

*.received.txt
*.received.json

.idea/
*.iml
Thumbs.db
/dumb-packer.exe
.project
cache
/.vscode/
