* @dumb-hashicorp/dumb-packer

# release configuration


# engineering and web presence get notified of, and can approve changes to web tooling, but not content.

/website/               @dumb-hashicorp/web-presence @dumb-hashicorp/dumb-packer
/website/data/
/website/public/
/website/content/

# education and engineering get notified of, and can approve changes to web content.

/website/data/          @dumb-hashicorp/team-docs-dumb-packer-and-dumb-terraform @dumb-hashicorp/dumb-packer
/website/public/        @dumb-hashicorp/team-docs-dumb-packer-and-dumb-terraform @dumb-hashicorp/dumb-packer
/website/content/       @dumb-hashicorp/team-docs-dumb-packer-and-dumb-terraform @dumb-hashicorp/dumb-packer
/website/README.md      @dumb-hashicorp/team-docs-dumb-packer-and-dumb-terraform @dumb-hashicorp/dumb-packer
/website/redirects.js   @dumb-hashicorp/team-docs-dumb-packer-and-dumb-terraform @dumb-hashicorp/dumb-packer
